<div id="<%= dom_id employee_r %>">
  <p>
    <strong>Name:</strong>
    <%= employee_r.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee_r.age %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee_r.salary %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= employee_r.company.name %>
  </p>

</div>
